Common Functions: These functions are common among all the iterables(lists, sets, tuples, dictionary) along with strings.
 1. len()
 2. min / max
 3. sorted()

In [12]:
c = 'kolkata'

In [13]:
len(c)

7

In [14]:
min(c)

'a'

In [15]:
max(c)

't'

In [16]:
# this will sort characters of string 'c' 
# in ascending order of their ASCII values.
sorted(c)

['a', 'a', 'k', 'k', 'l', 'o', 't']

In [17]:
# this will sort characters of string 'c' 
# in descending order of their ASCII values.
sorted(c, reverse=True)

['t', 'o', 'l', 'k', 'k', 'a', 'a']

STRING SPECIFIC FUNCTIONS: 

1. capitalize, title, upper, lower, swapcase.
2. count
3. find, index
4. endswith, startswith
5. format
6. isalnum, isdigit, etc...
7. spilt
8. join

## 1. capitalize(), title(), upper(), lower(), swapcase()

In [18]:
c.capitalize()

'Kolkata'

In [19]:
print(c)

kolkata

In [20]:
"hi my name is tushar shukla.".capitalize()

'Hi my name is tushar shukla.'

In [21]:
'hi my name is tushar shukla'.title()

'Hi My Name Is Tushar Shukla'

In [22]:
'hi my name is tushar shukla'.upper()

'HI MY NAME IS TUSHAR SHUKLA'

In [23]:
'hi my name is tushar shukla'.lower()

'hi my name is tushar shukla'

In [24]:
c.upper()

'KOLKATA'

In [25]:
c.lower()

'kolkata'

In [26]:
c.title()

'Kolkata'

In [27]:
'Hi My Name Is Tushar Shukla'.swapcase()

'hI mY nAME iS tUSHAR sHUKLA'

## 2. count()

In [28]:
# count single character.
'quick brown fox jump over the sleeping dog'.count('u')

# count substring of a string
'quick brown fox jump over the sleeping dog'.count('quick')

1

## 3. find(), index()

In [29]:
'it is raining heavily'.find('h')

14

In [30]:
'it is raining heavily'.find('is')

3

In [31]:
# for repeated characteres it shows first occurence
'it is raning heavily'.find('i')

0

In [32]:
'it is raining heavily'.index('i')

0

In [33]:
'it is raining heavily'.index('rain')

6

NOTE:- 
The major difference between find() & index() is that the 'find()' function handels the error more effectively.
whereas index() function did'nt responde to errors as find() function does. 
"That is why find() function is more preferable over index() function".

## 4. endswith() & startwith()

In [34]:
'it is raining heavily'.endswith('heavily')

True

In [35]:
'it is raining heavily'.endswith('sining')

False

In [36]:
'it is raining heavily'.startswith('it')

True

In [37]:
'it is raining heavily'.startswith('It')

False

In [38]:
'it is raining heavily'.startswith('dancing')

False

## 5. format()

In [46]:
'hello my name is {} and I am {} years old'.format('Tushar', 22)

'hello my name is Tushar and I am 22 years old'

In [53]:
'hello my name is {name} and I am {age} years old'.format(name = 'Tushar', age = 22)

'hello my name is Tushar and I am 22 years old'

In [58]:
'hello my name is {1} and I am {0} years old'.format('Tushar', 22)

'hello my name is 22 and I am Tushar years old'

In [60]:
'welcome to the shutter island {}.'.format('Gentelmen')

'welcome to the shutter island Gentelmen.'

In [65]:
'Hail!! earl {name}'.format(name = 'Ragnar')

'Hail!! earl Ragnar'

In [67]:
'His name is {} and he studies in {} collage.'.format('Tushar', 'VJTI')

'His name is Tushar and he studies in VJTI collage.'

In [68]:
'His name is {name} and he studies in {collage_name} collage.'.format(name='Tushar',
                                                                     collage_name='VJTI')

'His name is Tushar and he studies in VJTI collage.'

In [69]:
'His name is {0} and he studies in {1} collage.'.format('Tushar', 'VJTI')

'His name is Tushar and he studies in VJTI collage.'

In [70]:
# changing the positions of formating values.
'His name is {1} and he studies in {0} collage.'.format('Tushar', 'VJTI')

'His name is VJTI and he studies in Tushar collage.'

## 6. isalnum(), isdigit(), isnum(), isalpha()

In [74]:
'Tusharrr'.isalnum()

True

In [76]:
'tushar12'.isalpha()

False

In [81]:
'12343242'.isdecimal()

True

In [82]:
'1234'.isdigit()

True

In [84]:
'324nfvafv535'.isalpha()

False

In [86]:
'A'.isascii()

True

In [95]:
'tushar'.isupper()

False

In [96]:
'TUSHAR'.islower()

False

In [97]:
'tushar_shukla'.isidentifier()

True

In [98]:
'133'.istitle()

False

In [102]:
'This Is  title'.istitle()

False

## 7. split()

In [107]:
'split this string and convert it into a list'.split()

['split', 'this', 'string', 'and', 'convert', 'it', 'into', 'a', 'list']

In [110]:
'split this string and convert it into a list'.split('s')

['', 'plit thi', ' ', 'tring and convert it into a li', 't']

In [111]:
'split this string and convert it into a list'.split('h')

['split t', 'is string and convert it into a list']

In [112]:
'split this string and convert it into a list'.split('x')

['split this string and convert it into a list']

## 8. Join

In [122]:
' '.join(['this', 'is', 'a', 'value', 'of', 'a', 'string'])

'this is a value of a string'

In [123]:
'-'.join(['this', 'is', 'a', 'value', 'of', 'a', 'string'])

'this-is-a-value-of-a-string'

## 9. Replace

In [128]:
'Hi my name is tushar'.replace('tushar', 'navneet')

'Hi my name is navneet'

In [132]:
'Hi my name is tushar'.replace('H', 'h')

'hi my name is tushar'

## 10. strip

In [141]:
# before removing trailing spaces
name = '    tushar'
print(name)

    tushar

In [142]:
# after removing trailing spaces
name.strip()

'tushar'

In [143]:
# before removing trailing and leading spaces
name = '   tushar   '
print(name)

   tushar

In [165]:
# after removing trailing spaces
name = '    tushar   '
name.strip()

'tushar'