### Operations on strings

- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

- ARITHMETIC OPERATION

In [25]:
# string concatination
'Hello ' + 'World'

'Hello World'

In [26]:
str_1 = 'Hello '
str_2 = 'World'

print(str_1 + str_2)

Hello World

In [27]:
# string multiplication
print('*' * 43)
print('This is an example of string multiplication.')
print('*' * 43)

*******************************************
This is an example of string multiplication.
*******************************************

In [28]:
print('-' * 50)
print('This is also an example of string multiplication.')
print('-' * 50)

--------------------------------------------------
This is also an example of string multiplication.
--------------------------------------------------

- RELATIONAL OPERATION

In [29]:
'Hello' == 'hello'

False

In [30]:
'Hello' == 'World'

False

In [31]:
'Hello' != 'HELLO'

True

In [42]:
'Mumbai' < 'Pune' # comparaing based on lexiography

True

- Lexiography is a term used to check which character occurs according to alphabetical order.
- In above exaple 'Mumbai' [M] < 'Pune' [P] is TRUE, because M(13) comes first in alphabetical order then P(16)

In [44]:
'Hello' and 'World'

'World'

In [47]:
'' and 'World'

''

In [46]:
'Hello' or 'World'

'Hello'

In [48]:
'hello' and 'world'

'world'

In [49]:
'hello' and ' '

' '

In [58]:
name = 'Tushar Shukla'

for i in name[0::2]:
    print(i)

T
s
a

h
k
a

In [63]:
msg = 'This is a coded msg'

'This' in msg

True